<%- include('partials/dashboardHeader') %>
<link
  rel="stylesheet"
  href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
/>
<!-- load fontawesome -->
<main style="width: 95%; margin: auto">
  <h2 id="userName" class="mt-3">Welcome, <%= fullname %></h2>
  <% if(locals.error) { %>
  <div style="color: #f09; font-weight: bold; margin: 10px 4px"><%= error %></div>
  <% } %>
  <div class="d-flex flex-wrap align-items-center justify-content-between align-content-center">
    <div class="d-flex justify-content-between mt-5" style="width: 100%">
      <form class="col-6 col-lg-auto mb-lg-0 me-lg-3">
        <input
          type="search"
          class="form-control form-control-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <!-- Button trigger add org modal -->
      <button
        type="button"
        class="btn h-25"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        style="background-color: #8d448b; color: white; padding: 10px"
      >
        Add Note
      </button>
    </div>
    <!-- Tables starts here -->
    <div style="overflow: auto; width: 100%">
      <% if(notes.length > 0) { %>
      <table
        class="table caption-top table-bordered text-center table-hover table-striped table-responsive"
      >
        <caption>
          List of all the organizations
        </caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% notes.forEach((note, i ) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><a href="/detail/<%= note.id %>" id="titleD"><%= note.Title %></a></td>
            <td id="desD"><%= note.description %></td>
            <td id="dateD"><%= new Date(note.DueDate).toLocaleString() %></td>
            <td
              id="statusD"
              class="fs-14 pt-1 badge rounded-pill text-bg-<%= note.status === 'pending' ? 'secondary' : 'primary' %>"
            >
              <%= note.status %>
            </td>
            <td class="action-col" style="width: 30px">
              <span
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#updateModal"
                onclick="getUpdateId(this)"
                ><i class="fa fa-edit" style="font-size: 24px; color: #8d448b"></i
              ></span>
              <input class="d-none locateID" id="userId" value="<%= note.id %>" />

              <span role="button" id="deleteNote" onclick="deleteHandler(this)"
                ><i class="fa fa-times" style="font-size: 24px; color: red"></i
              ></span>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% }else {%>
      <h2 class="text-center m-auto mt-5" style="margin-top: 150px">No Record Found!</h2>
      <% } %>
    </div>
  </div>

  <!-- ADD Form Modal -->
  <form>
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 fw-bold" style="color: #8d448b" id="staticBackdropLabel">
              Add New Note
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
              <!-- First Column -->
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="Title"
                    placeholder="Title"
                    required="required"
                  />
                </div>
                <% if(locals.error) { %>
                <div style="color: #f09; font-weight: bold; margin: 10px 4px"><%= error %></div>
                <% } %>

                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea
                    class="form-control"
                    id="description"
                    rows="3"
                    name="description"
                    placeholder="Write in full detail"
                    required="required"
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="dueDate" class="form-label">Due Date</label>
                  <input type="date" name="DueDate" class="form-control" id="DueDate" required />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              style="padding: 10px 40px"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              class="btn"
              id="addNewOrg"
              style="background-color: #8d448b; color: white; padding: 10px 40px"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Update Form Modal -->
  <form>
    <div
      class="modal fade"
      id="updateModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="updateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-primary" id="updateModalLabel">Update Note</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="titleU"
                name="Title"
                placeholder="Title"
                required
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="descriptionU"
                rows="3"
                name="description"
                placeholder="Write in full detail"
                required
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select
                class="form-select"
                aria-label="Select status"
                name="status"
                id="statusU"
                required
              >
                <option value="">Select status</option>
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="dueDate" class="form-label">Due Date</label>
              <input type="date" name="DueDate" class="form-control" id="DueDateU" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button
              class="btn"
              id="updateButton"
              style="background-color: #8d448b; color: white; padding: 10px 40px"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
<footer><%- include('partials/footer.ejs') %></footer>

<!-- JavaScript Codes to consume APIs -->
<script>
  console.log("<%= notes %>");
  const jwtToken = "<%= token %>";
  console.log(jwtToken);

  const addOrg = document.getElementById("addNewOrg");
  addOrg.addEventListener("click", (e) => {
    e.preventDefault();

    const Title = document.getElementById("title").value;
    const description = document.getElementById("description").value;
    const DueDate = document.getElementById("DueDate").value;

    const requestData = { Title, description, DueDate };
    console.log(jwtToken);
    console.log(requestData);

    if (Title != "" && description != "" && DueDate != "") {
      fetch("/dashboard", {
        method: "POST",
        headers: new Headers({
          Authorization: jwtToken,
          "Content-Type": "application/json",
        }),
        body: JSON.stringify(requestData),
      })
        .then((response) => {
          location.reload();
          console.log(response);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  });

  // Get current Id
  let updateId = "";
  const getUpdateId = (id) => {
    if (id.parentElement.classList.contains("action-col")) {
      updateId = id.parentElement.querySelector(".locateID").value;
    }
    const titleD = document.getElementById("titleD").textContent;
    const desD = document.getElementById("desD").textContent;
    const dateD = document.getElementById("dateD").textContent;
    const statusD = document.getElementById("statusD").textContent;

    console.log(titleD, desD, dateD, statusD);
    // Assign previous values for update
    document.getElementById("descriptionU").value = desD;
    // document.getElementById("DueDateU").value = dateD;
    document.getElementById("statusU").value = statusD;
    document.getElementById("titleU").value = titleD;
  };

  // Update Function
  document.getElementById("updateButton").addEventListener("click", (e) => {
    e.preventDefault();
    const Title = document.getElementById("titleU").value;
    const description = document.getElementById("descriptionU").value;
    const status = document.getElementById("statusU").value;
    const DueDate = document.getElementById("DueDateU").value;

    const requestData = { Title, description, status, DueDate };

    let obj = Object.entries(requestData).filter((arr, i) => arr[1] !== "");
    obj = Object.fromEntries(obj);

    fetch(`/edit/${updateId}`, {
      method: "PATCH",
      headers: new Headers({
        Authorization: jwtToken,
        "Content-Type": "application/json",
      }),
      body: JSON.stringify(obj),
    })
      .then((response) => {
        location.reload();
        console.log(response);
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });

  // Delete Function
  const deleteHandler = (id) => {
    if (id.parentElement.classList.contains("action-col")) {
      const orgId = id.parentElement.querySelector(".locateID").value;
      fetch(`/delete/${orgId}`, {
        method: "DELETE",
        headers: new Headers({
          Authorization: jwtToken,
        }),
      })
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  };
</script>
