<%- include('partials/header') %>
<main style="width: 95%; margin: auto">
  <div class="" style="margin: 20px auto; width: 80%; text-align: center">
    <h1>Company Tracker</h1>
    <p>Company search, made easy !!!</p>
  </div>
  <div style="overflow-x: auto">
    <% if(organizations.length > 0) { %>
    <table
      class="table caption-top table-bordered text-center table-hover table-striped table-responsive"
    >
      <caption>
        List of all the organizations
      </caption>
      <thead style="background-color: #8d448b; color: white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Organization</th>
          <th scope="col">CEO</th>
          <th scope="col">No of Employess</th>
          <th scope="col">Country</th>
          <th scope="col">Market Value</th>
        </tr>
      </thead>
      <tbody>
        <% organizations.forEach((org, i ) => { %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><a href="/detail/<%= org.id %>"><%= org.organization %></a></td>
          <td><%= org.ceo %></td>
          <td><%= org.noOfEmployees %></td>
          <td><%= org.country %></td>
          <td><%= org.marketValue %>%</td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <% }else {%>
    <h2 class="text-center" style="margin-top: 150px">No Record Found!</h2>
    <% } %>
  </div>
</main>

<%- include('partials/footer') %>
