<%- include('partials/header') %>
<main style="width: 95%; margin: auto">
  <div class="" style="margin: 20px auto; width: 80%; text-align: center">
    <h1>Note App</h1>
    <p>Your notes on the cloud !!!</p>
  </div>
  <div style="overflow-x: auto">
    <% if(notes.length > 0) { %>
    <table
      class="table caption-top table-bordered text-center table-hover table-striped table-responsive"
    >
      <caption>
        List of all the notes
      </caption>
      <thead style="background-color: #8d448b; color: white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Due Date</th>
          <th scope="col">Created By</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% notes.forEach((note, i ) => { %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><a href="/detail/<%= note.id %>"><%= note.Title %></a></td>
          <td><%= note.description %></td>
          <td><%= new Date(note.DueDate).toLocaleString() %></td>
          <td><%= note.user.fullName %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <% }else {%>
    <h2 class="text-center" style="margin-top: 150px">No Record Found!</h2>
    <% } %>
  </div>
</main>

<%- include('partials/footer') %>
