<%- include('partials/header') %>
<main style="padding: 50px">
  <div class="" style="margin: 20px auto; width: 80%; text-align: center">
    <h1>Company Tracker</h1>
    <p>Company search, made easy !!!</p>
  </div>

  <!-- Tables starts here -->
  <% if(organizations.length > 0) { %>
  <table
    class="table caption-top mt-5 table-bordered text-center table-hover table-striped table-responsive"
    style="margin: auto"
  >
    <caption>
      List of all the organizations
    </caption>
    <thead style="background-color: #8d448b; color: white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Organization</th>
        <th scope="col">CEO</th>
        <th scope="col">Address</th>
        <th scope="col">Market Value</th>
      </tr>
    </thead>
    <tbody>
      <% organizations.forEach((org, i ) => { %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><a href="/detail/<%= org.id %>"><%= org.organization %></a></td>
        <td><%= org.ceo %></td>
        <td><%= org.address %></td>
        <td><%= org.marketValue %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% }else {%>
  <h2 class="text-center" style="margin-top: 150px">No Record Found!</h2>
  <% } %>
</main>

<%- include('partials/footer') %>
